doctype html
html(lang="en")
 head
   title Homepage
   link(rel="stylesheet", href="/css/style.css", type="text/css")
   link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
 body                               
  div.logo                                      _|  _|    _|                _|                                      
  div.logo    _|    _|    _|_|_|        _|_|_|  _|      _|_|_|_|    _|_|_|  _|_|_|        _|_|_|  _|_|      _|_|    
  div.logo    _|    _|  _|_|          _|    _|  _|  _|    _|      _|        _|    _|      _|    _|    _|  _|_|_|_|  
  div.logo    _|    _|      _|_|      _|    _|  _|  _|    _|      _|        _|    _|      _|    _|    _|  _|        
  div.logo      _|_|_|  _|_|_|    _|   _|_|_|   _|  _|      _|_|    _|_|_|  _|    _|  _|  _|    _|    _|    _|_|_|  
  div.logo                                  _|                                                                      
  div.logo                              _|_|                                                                           
  |
  h1 URL Shortening Microservice
  h2 Usage
  p Type or paste a URL in this box or at the end of this page's address:
  p &nbsp; https://url-shortener-microservice-kg.glitch.me/<em>{URL}</em>
  p You will be sent back a shortened URL you can use to link to that site!
  p <b>Note:</b> URLs must be formatted like this:
  p &nbsp; <em>www.example.com</em>
  div Your IP: #{client_ip} <-- Don't try any funny stuff!
  br
  |
 form(action='/' method='POST')
  div.form-group
   label(for='url') URL:
   input(type=text name='url')
   button.btn.btn-primary(type='submit') Submit
div
 h2 List of URL Redirection Links
 table
  tr
   th Destination URL
   th Redirection URL Suffix
   th Full Shortened URL
  for item in urls
   tr
   td= item.src_url
   td= item.redir_url
   td= item.short_url